*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body, html{
    height: 100vh;
    width: 100%;
    background-color: rgb(30, 30, 29);
    /* align-items: center; */
    text-align: center;

}

input{
    width: 250px;
    margin: 10px;
    height: 30px;
    /* border-radius: 20px; */
    background-color: rgba(91, 91, 91, 0.622);
    border: 2px solid #ffffff;
}
